body {
    background-color: rgb(241, 12, 12);
    margin: 0px
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(0, 0, 0);
    padding-top: 5%;
}
.giovanna {
    font-style: oblique;
}

.img1 {
    width: 50%;
}

.centro {
    text-align: center;
}
.imagemcentro {
    text-align: center;
}
.titulocentro {
    text-align: center;
}