body {
    background-color: rgb(241, 12, 12);
    margin: 0px
}

nav a {
    margin-top: 5px;
    padding: 2px;
    font-size: 20px;
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
h1 {
    color: rgb(0, 0, 0);
    padding-top: 5%;
}
.giovanna {
    font-style: oblique;
}

.img1 {
    width: 70%;
}

.centro {
    text-align: center;
}
.imagemcentro {
    text-align: center;
}
.titulocentro {
    text-align: center;
}
img {
    height: 200px;
}
.Do I Wanna Know {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  /* código omitido */
  
  .categoria {
    padding-left: 20px;
    padding-right: 20px;
  }
